PORT=8000 # Puerto por defecto
DEV=true  # Indica si se ejecuta en entorno de desarrollo
DEBUG=true # Indica si se ejecuta en modo debug para logging

#USERS_API=https://fake-fast-user.onrender.com/api/v1
USERS_API=https://external-api.com